<div id="fondo" class="row">
    <div class="col s3">
        
    </div>
    <div class="col s6">
        <div id="box">
            <p id="account" class="center">Account</p>
            <img id="shrek" class="center" src="../../../assets/Resources/Account/shrek.png">
            <p id="user" class="center">Shrekxtacion</p>
            <p id="description" class="center">Member Since: 2021</p>
            <p id="account" class="center">Account Information</p>
            <div class="row">
                <div class="col s3"></div>
                <div class="col s6"><p class="center">Default Address: shrextacion@hotmail.com</p>
                    <p class="center">Location: USA</p>
                    <p class="center">Member Status: </p><p class="center" id="vip">VIP</p>
                    <a href="https://www.sat.gob.mx/home" target="_blank"><p id="change" class="center">CHANGE INFORMATION</p></a>
                </div>
                <div class="col s3"></div>
            </div>
            
            <p id="account" class="center">Orders</p>
            <div class="row">
                <div class="col s3"></div>
                <div class="col s6"><p class="center">
                    <div id="box" class="card horizontal valign-wrapper">
                        <div class="card-image">
                            <img id="cartimage" src="../../../assets/Resources/Games/resident.jpg">
                        </div>
                        <div class="card-stacked">
                            <span class="card-title">Resident Evil</span>
                        </div>
                        <div class="card-action center-align">
                            <small class="card-price">Total: $59.99</small>
                        </div>
                    </div>
                    <div id="box" class="card horizontal valign-wrapper">
                        <div class="card-image">
                            <img id="cartimage" src="../../../assets/Resources/Games/minecraft.jpg">
                        </div>
                        <div class="card-stacked">
                            <span class="card-title">Minecraft</span>
                        </div>
                        <div class="card-action center-align">
                            <small class="card-price">Total: $19.99</small>
                        </div>
                    </div>
                <div class="col s3"></div>
            </div>
        </div>
    </div>
    <div class="col s3">
        
    </div>
</div>

