<nav id="bar">
    <div>
      <ul id="navbar">
        <li style="padding-left: 18px;" class="col s1 push-s2 hoverable"><a href="#">Offers</a></li>
        <li class="col s1 push-s2 hoverable"><a href="shooters">Shooters</a></li>
        <li class="col s1 push-s2 hoverable"><a href="strategy">Strategy</a></li>
        <li class="col s1 push-s2 hoverable"><a href="simulation">Simulation</a></li>
        <li class="col s1 push-s2 hoverable"><a href="puzzles">Puzzles</a></li>
        <li class="col s1 push-s2 hoverable"><a href="action">Action</a></li>
        <li class="col s1 push-s2 hoverable"><a href="adventure">Adventure</a></li>
        <li class="col s1 push-s2 hoverable"><a href="multiplayer">Multiplayer</a></li>
        <li class="col s1 push-s2 hoverable"><a href="horror">Horror</a></li>
        <li class="col s1 push-s2 hoverable"><a href="kids">Kids</a></li>
        <li class="col s1 push-s2 hoverable"><a href="rpg">RPG</a></li>
        <li class="col s1 push-s2 hoverable"><a href="daily">Daily</a></li>
        <li class="col s1 push-s2 hoverable"><a href="random">Random</a></li>
      </ul>
    </div>
</nav>
