<div id="background" class="row" style="background-color: #FFCC3C;">
    <div class="row">
        <div class="col s3">
        </div>
        <div class="col s6">
            <div class="row" id="square">
                <div class="col s4"></div>
                <div class="col s4">
                    <p id="parrafo" class="center">Pagina creada para la clase de sitios web</p>
                    <div id="box" class="card horizontal valign-wrapper">
                        <div class="card-image">
                            <img id="cartimage" src="../../../assets/Resources/Account/trabis.png">
                        </div>
                        <div class="card-stacked">
                            <span class="card-title">Trabis: <p class="name">Benjamin</p></span>
                        </div>
                    </div>
                    <div id="box" class="card horizontal valign-wrapper">
                        <div class="card-image">
                            <img id="cartimage" src="../../../assets/Resources/Account/lao.png">
                        </div>
                        <div class="card-stacked">
                            <span class="card-title">Bonk Lao: <p class="name">Fernando</p></span>
                        </div>
                    </div>
                    <div id="box" class="card horizontal valign-wrapper">
                        <div class="card-image">
                            <img id="cartimage" src="../../../assets/Resources/Account/shrek.png">
                        </div>
                        <div class="card-stacked">
                            <span class="card-title">Shrekxtacion: <p class="name">Roberto</p></span>
                        </div>
                    </div>
                    <p id="parrafo2" class="center">Hecho por: Benjamin Marquez, Fernando Escoto y Roberto Madrid</p>
                </div>
                <div class="col s4"></div>
            </div>
        </div>
        <div class="col s3">
        </div>
    </div>  
</div>



