<div id="grad">
    <br>
    <div id="home" class="row">
        <div style="margin-top: -70px;" class="col s3 center">
            <br><br><br>
            <p style="color:#C2FF8C; font-size: x-large;">FEATURED</p>
            <img class="featured" src="../../../assets/Resources/Featured/cybertrunk.jpg">
            <p  class="pfeatured" style="color:white; font-size: large;">Cyberpunk 2077</p>
            <br><br><br><br><br><br>
            <img class="featured" src="../../../assets/Resources/Featured/sottr.jpg">
            <p  class="pfeatured" style="color:white; font-size: large;">SOTTR</p>
            <br><br><br><br><br><br>
            <img class="featured" src="../../../assets/Resources/Featured/fifa.jpg">
            <p  class="pfeatured" style="color:white ; font-size: large;">FIFA 22</p>
        </div>
        <div class="col s6 center">
            <div id="homedisplay">
                <div >
                    <div id="main">
                        <p class="left">Trending</p>
                        <br>
                        <p style="margin-left: -70px; color: gray;" class="left">The best offers, new games, AAA titles and high-quality gaming gear.</p>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col s4">
                                <app-product *ngFor="let product of productService.products | slice:0:1; let ind=index;" [data]= "product"></app-product>
                            </div>
                            <div class="col s4">
                                <app-product *ngFor="let product of productService.products | slice:1:2; let ind=index;" [data]= "product"></app-product>
                            </div>
                            <div class="col s4">
                                <app-product *ngFor="let product of productService.products | slice:2:3; let ind=index;" [data]= "product"></app-product>
                            </div>
                        </div>
                    </div>
                    <div id="main">
                        <p class="left">Best Sellers</p>
                        <br>
                        <p style="margin-left: -91px; color: gray;" class="left">Browse the most popular video games & other products.</p>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col s4">
                                <app-product *ngFor="let product of productService.products | slice:3:4; let ind=index;" [data]= "product"></app-product>
                            </div>
                            <div class="col s4">
                                <app-product *ngFor="let product of productService.products | slice:4:5; let ind=index;" [data]= "product"></app-product>
                            </div>
                            <div class="col s4">
                                <app-product *ngFor="let product of productService.products | slice:5:6; let ind=index;" [data]= "product"></app-product>
                            </div>
                        </div>
                    </div>
                    <div id="main">
                        <p class="left">Pre Orders</p>
                        <br>
                        <p style="margin-left: -85px; color: gray;" class="left">Pre-Order an upcoming game to start playing Day 1</p>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                                <div class="col s4">
                                    <app-product *ngFor="let product of productService.products | slice:6:7; let ind=index;" [data]= "product"></app-product>
                                </div>
                                <div class="col s4">
                                    <app-product *ngFor="let product of productService.products | slice:7:8; let ind=index;" [data]= "product"></app-product>
                                </div>
                                <div class="col s4">
                                    <app-product *ngFor="let product of productService.products | slice:8:9; let ind=index;" [data]= "product"></app-product>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div style="margin-top: -70px;" class="col s3 center">
            <br><br><br>
            <p style="color:#C2FF8C; font-size: x-large;">FEATURED</p>
            <img class="featured" src="../../../assets/Resources/Featured/doom.jpg">
            <p  class="pfeatured" style="color:white; font-size: large;">Doom Eternal</p>
            <br><br><br><br><br><br>
            <img class="featured" src="../../../assets/Resources/Featured/2k.jpg">
            <p  class="pfeatured" style="color:white; font-size: large;">NBA 2K21</p>
            <br><br><br><br><br><br>
            <img class="featured" src="../../../assets/Resources/Featured/sims.png">
            <p  class="pfeatured" style="color:white ; font-size: large;">The Sims 4</p>
        </div>
    </div>
</div>
