<div id="grad">
    <br>
    <div id="home" class="row">
        <div style="margin-top: -70px;" class="col s3 center">
            <br><br><br>
            <p style="color:#C2FF8C; font-size: x-large;">FEATURED</p>
            <img class="featured" src="../../../assets/Resources/Featured/cybertrunk.jpg">
            <p  class="pfeatured" style="color:white; font-size: large;">Cyberpunk 2077</p>
            <br><br><br><br><br><br>
            <img class="featured" src="../../../assets/Resources/Featured/sottr.jpg">
            <p  class="pfeatured" style="color:white; font-size: large;">SOTTR</p>
            <br><br><br><br><br><br>
            <img class="featured" src="../../../assets/Resources/Featured/fifa.jpg">
            <p  class="pfeatured" style="color:white ; font-size: large;">FIFA 22</p>
        </div>
        <div class="col s6 center">
            <div id="homedisplay">
                <div >
                    <div id="main">
                        <p id="title" class="center">{{product.title}}</p>
                        <br>
                        <p id="description" style="color: gray;" class="center">{{product.description}}</p>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <img id="imagen" src="../../../assets/Resources/Games/{{product.img}}.jpg">
                        </div>
                        <br>
                        <br>
                        <p id="gallery" style="color: gray;" class="center">Gallery</p>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col s3"><img id="galeria" src="../../../assets/Resources/Games/{{product.img}}.jpg"></div>
                            <div class="col s1"></div>
                            <div class="col s3"><img id="galeria" src="../../../assets/Resources/Games/{{product.img}}.jpg"></div>
                            <div class="col s1"></div>
                            <div class="col s3"><img id="galeria" src="../../../assets/Resources/Games/{{product.img}}.jpg"></div>
                            <div class="col s1"></div>
                        </div>
                        <br>
                        <p style="color: gray; margin-left: -30px;" class="center">{{product.description}}</p>
                        <br>
                        <div class="btn">
                            <a class="btntext">CART</a>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
            </div>
        </div>
        </div>
        <div style="margin-top: -70px;" class="col s3 center">
            <br><br><br>
            <p style="color:#C2FF8C; font-size: x-large;">FEATURED</p>
            <img class="featured" src="../../../assets/Resources/Featured/doom.jpg">
            <p  class="pfeatured" style="color:white; font-size: large;">Doom Eternal</p>
            <br><br><br><br><br><br>
            <img class="featured" src="../../../assets/Resources/Featured/2k.jpg">
            <p  class="pfeatured" style="color:white; font-size: large;">NBA 2K21</p>
            <br><br><br><br><br><br>
            <img class="featured" src="../../../assets/Resources/Featured/sims.png">
            <p  class="pfeatured" style="color:white ; font-size: large;">The Sims 4</p>
        </div>
    </div>
</div>
