<div id="background" class="row" style="background-color: #FFCC3C;">
    <div class="row">
        <div class="col s3">
        </div>
        <div class="col s6">
            <p id="summary">Summary!</p>
            <div id="square">
                <app-card-cart *ngFor="let product of productService.getCart()" [product] = "product"></app-card-cart>
            </div>
        </div>
        <div class="col s3">
        </div>
    </div>  
    <div class="row">
        <div class="col s3">
        </div>
        <div class="col s6">
            <p id="address">Enter Address!</p>
            <div class="col s11">
                <input id="search" type="search" placeholder="search" name="search">
            </div>
        </div>
        <div class="col s3">
        </div>
    </div>  
    <div class="row">
        <div class="col s3">
        </div>
        <div class="col s6">
            <p id="payment">Select Payment Method!</p>
            <div class="row" id="square3">
                <div class="col s3"></div>
                <div  class="col s2"><a href="checkout"><img id="doge" src="../../../assets/Resources/Payments/paypal.png"></a></div>
                <div class="col s2"></div>
                <div class="col s2"><a href="checkout"><img id="doge" src="../../../assets/Resources/Payments/dogecoin.png"></a></div>
                <div class="col s3"></div>
            </div>
        </div>
        <div class="col s3">
        </div>
    </div>  
    <div id="row" class="center">
        <div id="divtotal"><p style="font-size: larger; color: white;">Total: </p><p style="font-size: x-large; color: yellowgreen;">$0.00</p></div>
        <a href="thankyou"><div id="boton" class="btn">
            <p style="color: #C2FF8C; font-size: large;">Complete Order!</p>
        </div></a>
    </div>
</div>


