<div id="background">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="center" style="font-size: xx-large; color: greenyellow;">Thank you for your order!</p>
    <p class="center" style="font-size: larger; color: #FF4F4F;">Order reciept and code were sent to your email address!</p>
    <br>
    <p class="center" style="font-size: large; color: gray;">Order #42069</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>